@import "@/styles/utils";
.input {
  min-height: 48px;
  color: var(--theme-input-text-color);
  background: transparent;
  border: 0;
  padding: 0 12px;
  outline: 0;
  caret-color: var(--theme-primary-color);

  @include media(">desktop") {
    min-height: 64px;
    padding: 0 24px;
  }

  &::placeholder {
    color: var(--theme-secondary-color);
  }
}
