@import "@/styles/utils";
.input {
  min-height: 48px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.166667px;
  color: var(--theme-input-text-color);
  background: transparent;
  border: 0;
  padding: 0 12px;
  outline: 0;
  caret-color: var(--theme-primary-color);

  @include media(">desktop") {
    font-size: 16px;
    line-height: 16px;
    min-height: 64px;
    padding: 0 24px;
  }

  &::placeholder {
    color: var(--theme-secondary-color);
  }
}
